---
layout: default
title: ""
published: true
features: banner
---

<section id="team">
    <div class="container">
    <div class="row">
        <h1 class="heading">Meet Our Team</h1>
        <div class="headul"></div>
        <p class="subheading">ETCDEV Team is a group of professional software engineers working
            full time on Ethereum Classic core projects</p>
    </div>
    <div class="row team4">
        <h2 class="heading">Engineers</h2>

        <%
        def team = [
            [name: "Wei Tang", github: "sorpaas", nick: "sorpaas", role: "Rust Developer"],
            [name: "Constantine Kryvomaz", github: "r8d8", nick: "bunda", role: "Rust Developer"],
            [name: "Isaac Ardis", twitter: "isaacardis", github: "whilei", nick: "ia", role: "Go Developer"],
            [name: "Yury", twitter: "cryptogagarin", github: "gagarin55", nick: "gagarin55", role: "Javascript Developer"],
            [name: "Alexey Sudachen", twitter: "sudachen", github: "sudachen", nick: "sudachen", role: "Go Developer"],
            [name: "Tomasz Zdybał", twitter: "tzdybal", github: "tzdybal", nick: "tzdybal", role: "Go Developer"],
            [name: "Shane Jonas", twitter: "shanejonas", github: "shanejonas", nick: "shanejonas", role: "Javascript Developer"],
        ]
        Collections.shuffle(team);
        team.each { m ->
        %>
        <div class="col-lg-3 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 member">
            <div class="pic">
                <img alt="member-image" class="img-responsive" src="${r 'media/' + m.nick + '.jpg'}">
                <div class="social">
                    <% if (m.github != null) { %>
                    <a href="https://github.com/${m.github}"><i class="mdi mdi-github-circle text-on-primary"></i></a>
                    <% } %>
                    <% if (m.twitter != null) { %>
                    <a href="https://twitter.com/${m.twitter}"><i class="mdi mdi-twitter text-on-primary"></i></a>
                    <% } %>
                </div>
            </div>
            <div class="info">
                <h3><% if (m.name != null) { %>${m.name} <% } %><small>@${m.nick}</small></h3>
                <h4>${m.role}</h4>
            </div>
        </div>
        <% } %>
    </div>

    <div class="row team6" style="padding-top: 50px">
        <h2 class="heading">Advisors</h2>

        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <%
            def extra = [
            [name: "Dr. Avtar Sehra", twitter: "avtarsehra", nick: "avtarsehra", role: "Advisor", photo: "avtarsehra"],
            [name: "Elaine Ou", twitter: "eiaine", github: "elaineo", nick: "elaine", role: "Advisor", photo: "elaine"],
            [name: "Cody Burns", twitter: "DontPanicBurns", github: "realcodywburns", nick: "dontpanicburns", role: "Advisor", photo: "dontpanicburns"],
            [name: "Yates Randall", twitter: "ether_ninja", nick: "etherninja", role: "Advisor", photo: "etherninja"],
            [name: "Matthew Mazur", twitter: "snaproII", nick: "snaproll", role: "Advisor", photo: "snaproll"],
            [name: "Igor Artamonov", twitter: "splix", github: "splix", nick: "splix", role: "Advisor", photo: "splix"],
            ];
            Collections.shuffle(extra);

            extra.each { m ->
            %>
            <div class="col-md-3 col-sm-4 col-xs-6 member">
                <div class="pic">
                    <img alt="member-image" class="img-responsive" src="${r 'media/' + m.photo + '.jpg'}">
                    <div class="social">
                        <% if (m.github != null) { %>
                        <a href="https://github.com/${m.github}"><i class="mdi mdi-github-circle text-on-primary"></i></a>
                        <% } %>
                        <% if (m.twitter != null) { %>
                        <a href="https://twitter.com/${m.twitter}"><i class="mdi mdi-twitter text-on-primary"></i></a>
                        <% } %>
                    </div>
                </div>
                <div class="info">
                    <h3><nobr><% if (m.name != null) { %>${m.name}<% } %></nobr> <small>@${m.nick}</small></h3>
                </div>
            </div>
            <% } %>
        </div>

    </div>

    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <h1 class="heading">Projects</h1>
            <div class="headul"></div>
            <p class="subheading">ETCDEV Team does work on a set of core Ethereum Classic projects</p>
        </div>

        <div class="row">
        <div class="features">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 feature">
                <div class="icon">
                    <i class="mdi mdi-amplifier"></i>
                </div>
                <div class="info">
                    <h3 class="title">ETC Geth</h3>
                    <p>Fork of original EF Geth, which is a reference implementation of Ethereum Classic protocol now</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 feature">
                <div class="icon">
                    <i class="mdi mdi-briefcase-check"></i>
                </div>
                <div class="info">
                    <h3 class="title">Emerald SDK</h3>
                    <p>An official desktop wallet, and a flexible SDK to build custom applications on top of Ethereum
                    Classic blockchain</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 feature">
                <div class="icon">
                    <i class="mdi mdi-bank"></i>
                </div>
                <div class="info">
                    <h3 class="title">Monetary Policy</h3>
                    <p>ECIP-1017 which adds a cap (5M20) to total issued coins in Ethereum Classic blockchain. The team
                        is working on implementation for both Parity and Geth, does full testing cycle of the
                        new supply model, and examines for possible attacks</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 feature">
                <div class="icon">
                    <i class="mdi mdi-cube-send"></i>
                </div>
                <div class="info">
                    <h3 class="title">Sputnik VM</h3>
                    <p>A new implementation of Ethereum Virtual Machine with main focus on performance and reliability. It
                        can be used as a standalone EVM to help developers to build their Dapps, or embed into other
                        apps</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <h1 class="heading">Blog</h1>
            <div class="headul"></div>
        </div>

        <div class="row">
            <%
            site.pages
                .findAll { it.post_category == 'article' }
                .sort { it.date }
                .reverse()
                .each { post ->
            %>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <h4><a href="${post.url}">${post.title}</a> <small>${post.date.format('dd MMM yyyy')}</small></h4>
                <p>${post.description}</p>
            </div>
            <%
            }
            %>
        </div>

        <div class="row">
            <hr/>
            <%
            site.pages
            .findAll { it.post_category == 'devupdate' }
            .sort { it.date }
            .reverse()
            .take(3)
            .each { post ->
            %>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <h4><a href="${post.url}">${post.title}</a> <small>${post.date.format('dd MMM yyyy')}</small></h4>
                <p>${post.description}</p>
            </div>
            <%
            }
            %>
        </div>
    </div>
</section>


