---
layout: page
title: Roadmap
published: true
---

<section class='roadmap'>
    <div class="container">
        <div class="row">
            <h2 class="heading">General Roadmap</h2>
            <p class="subheading">ETCDEV Team plans for 2017-2019, all protocol related
                details will be discussed with community</p>
        </div>

        <div class="row">
            <div class="col-xs-2 calendar">
                <h3>Goals</h3>
            </div>
            <div class="col-xs-10">
                <h5>Short term goals</h5>
                <ul>
                    <li>Platform stabilization</li>
                    <li>Tools for 3rd party developers</li>
                </ul>
                <h5>2-3 year goals</h5>
                <ul>
                    <li>Scalability for large internet services and IoT</li>
                    <li>Keep it small enough for home users</li>
                    <li>Better security and encryption</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <hr/>
        </div>

        <div class="row">
            <div class="col-xs-2 calendar">
                <h3><i class="mdi mdi-calendar-clock"></i></h3> <h4>2017</h4>
            </div>
            <div class="col-xs-10">
                <ul>
                    <li>New Monetary Policy <small>(ECIP-1017)</small></li>
                    <li>Emerald Wallet</li>
                    <li>Dapp SDK <small>(based on Emerald Project)</small></li>
                    <li>Standalone & embeddable EVM <small>(with debugger for EVM code)</small></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 calendar">
                <h3><i class="mdi mdi-calendar-clock"></i></h3> <h4>2018</h4>
            </div>
            <div class="col-xs-10">
                <ul>
                    <li>Light client for IoT and Mobile</li>
                    <li>Scalability improvement and sharding <small>(towards to 1,000+ tx/sec)</small></li>
                    <li>Improve cryptography on EVM <small>(for zero knowledge proof,
                        homomorphic encryption, etc)</small></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 calendar">
                <h3><i class="mdi mdi-calendar-clock"></i></h3> <h4>2019</h4>
            </div>
            <div class="col-xs-10">
                <ul>
                    <li>Hybrid consensus research</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <hr/>
            <div class="col-xs-12 text-center">
                <h2>Detailed Roadmap for current projects</h2>
            </div>
        </div>
    </div>
</section>

<section class="roadmap">
    <div class="container">
        <div class="row">
            <h2 class="heading">Monetary Policy</h2>
            <p class="subheading">ECIP-1017 - modified Monetary Supply to add cap to total coins</p>
        </div>
        <%
        def ecip1017 = [
            [
            calend: "Feb",
            title: "Discussion <small>Agreed</small>",
            description: "Initial discussion of ECIP-1017 with the community"
            ],
            [
            calend: "Mar",
            title: "Geth architecture redesign <small>Done</small>",
            description: "Prepare Geth to support different model of monetary supply, instead of current hardcoded one."
            ],
            [
            calend: "Apr",
            title: "Implementation <small>Done</small>",
            description: "Implement and test ECIP-1017 Monetary Policy in Geth code"
            ],
            [
            calend: "Jun",
            title: "Add Support to Parity <small>Done</small>",
            description: "Implement and test ECIP-1017 Monetary Policy in Parity code"
            ],
            [
            calend: "Aug",
            title: "Testnet <small>In Progress</small>",
            description: "Run new monetary policy on private testnet, then release to public testnet"
            ],
            [
            calend: "Aug",
            title: "Enable in mainnet",
            description: "After we'll see that we don't have any issues on Testnet, we can configure and enable ECIP-1017 " +
                "Monetary Policy for Mainnet. First change to Coin Issues will happen at block 5,000,000 which is " +
                "expected at the end of 2017 year."
            ]
        ];
        %>

        <% ecip1017.each { phase -> %>
        <div class="row">
            <div class="col-xs-2 calendar">
                <h3><i class="mdi mdi-calendar-clock"></i></h3>
                <h4>${phase.calend}</h4>
            </div>
            <div class="col-xs-10">
                <h3>${phase.title}</h3>
                <p>${phase.description}</p>
            </div>
        </div>
        <% } %>
    </div>
</section>

<section class='roadmap'>
    <div class="container">
        <div class="row">
            <h2 class="heading">Emerald Platform</h2>
            <p class="subheading">Reference Ethereum Classic wallet and a SDK for 3rd party developers</p>
        </div>

        <%
        def wallet = [
            [
            calend: "Mar",
            title: "Development version <small>Done</small>",
            description: "A MVP or proof of concept. Basic version suitable for developers to build and run on local machine"
            ],
            [
            calend: "Apr",
            title: "Internal Beta <small>Done</small>",
            description: "Bundle for a desktop for testing"
            ],
            [
            calend: "Jun",
            title: "Public Beta <small>Done</small>",
            description: "First public release of a desktop version"
            ],
            [
            calend: "Jul",
            title: "Polished version <small>Done</small>",
            description: "UX/UI refactoring, professional design, installer, instructions and help"
            ],
            [
            calend: "Sep",
            title: "Release version <small>In Progress</small>",
            description: "A version recommended for general use, with support of tokens and contracts"
            ],
            [
            calend: "Oct",
            title: "Contract Developer Suite",
            description: "A desktop app built on top of SDK for Ethereum Classic contract developers (compile and deploy contracts, monitor state)"
            ],
            [
            calend: "Nov",
            title: "SDK for 3rd party developers",
            description: "Release a SDK for 3rd party developers as a standalone set of tools to build full functional app. Provide Javascript UI components and libraries"
            ]

        ];
        %>
        <% wallet.each { phase -> %>
        <div class="row">
            <div class="col-xs-2 calendar">
                <h3><i class="mdi mdi-calendar-clock"></i></h3>
                <h4>${phase.calend}</h4>
            </div>
            <div class="col-xs-10">
                <h3>${phase.title}</h3>
                <p>${phase.description}</p>
            </div>
        </div>
        <% } %>
    </div>

</section>

<section class='roadmap'>
    <div class="container">
        <div class="row">
            <h2 class="heading">Sputnik VM</h2>
            <p class="subheading">A new EVM for Ethereum Classic</p>
        </div>

        <%
        def sputnikvm = [
        [
        calend: "Apr",
        title: "Initial version <small>Done</small>",
        description: "As a standalone VM, and Rust lib. With socket api to communicate"
        ],
        [
        calend: "Sep",
        title: "Developer Server (testrpc) <small>In Progress</small>",
        description: "Run a standalone EVM for contract development and testing, a TestRPC replacement"
        ],
        [
        calend: "Oct",
        title: "Debugging APIs <small>In Progress</small>",
        description: "Ability to execute and get tracing/debugging details for arbitrary code against provided state"
        ],
        [
        calend: "Dec",
        title: "Geth Integration",
        description: "Integrate into Classic Geth"
        ],

        ];
        %>
        <% sputnikvm.each { phase -> %>
        <div class="row">
            <div class="col-xs-2 calendar">
                <h3><i class="mdi mdi-calendar-clock"></i></h3>
                <h4>${phase.calend}</h4>
            </div>
            <div class="col-xs-10">
                <h3>${phase.title}</h3>
                <p>${phase.description}</p>
            </div>
        </div>
        <% } %>
    </div>

</section>