.text {
  font-size: 18px;

  h1 {
    font-size: 32px;
    line-height: 38px;
    padding-top: 40px;
  }
  h2 {
    font-size: 26px;
    padding-top: 40px;
  }
  h3 {
    font-size: 22px;
  }

  li {
    text-align: justify;
  }

  .imageblock {
    width: 100%;
    .content {
      text-align: center;
      padding: 20px 0;
      img {
        width: 80%;
        max-width: 800px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .text {
    img {
      max-width: 90%;
    }
  }
}