<section class="header bg-lightgray header-1" >
    <!-- Menu Top Bar - Start -->
    <div class="topbar " data-effect="fadeIn">
        <div class="menu">
            <div class="primary">
                <div class='cssmenu'>
                    <!-- Menu - Start -->
                    <ul class='menu-ul'><li>
                        <a href='/'>Home</a>
                    </li>
                        <li>
                            <a href='/roadmap.html'>Roadmap</a>
                        </li>
                        <li>
                            <a href='/blog.html'>Blog</a>
                        </li>

                    </ul>
                    <!-- Menu - End -->
                </div>
            </div>
            <div class="black">
                <div class='cssmenu'>
                    <!-- Menu - Start -->
                    <ul class='menu-ul'><li>
                        <a href='/support.html'>Support Us</a>
                    </li>
                        <li>
                            <a href='/jobs.html'>Jobs</a>
                        </li>
                        <li>
                            <a href='/contact.html'>Contact</a>
                        </li>
                    </ul>
                    <!-- Menu - End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Menu Top Bar - End -->
    <!-- Logo and Mobile Menu - Start -->
    <div class='header-logo-wrap'>
        <div class="container">
            <div class="logo col-xs-2">
                <span>ETCDEV Team</span>
            </div>
            <div class="menu-mobile col-xs-10 pull-right cssmenu">
                <i class="mdi mdi-menu menu-toggle"></i>
                <ul class="menu" id='parallax-mobile-menu'>
                </ul>
            </div>
        </div>
    </div>
    <!-- Logo and Mobile Menu - End -->

    <% if (page.features == 'banner') { %>
        <!-- Header Slide - Start -->
        <div class="header-slide" style="position:relative;">
            <img alt="header-banner-image" src="${r '/images/aurora.jpg'}" class='header-img' style=''>
            <div class="overlay overlay1">
                <div class="black" data-effect="fadeInLeftOpacity"></div>
                <div class="primary" data-effect="fadeInRightOpacity"></div>
                <!-- Header Text - Start -->
                <div class="maintext">
                    <div class="primary-text" data-effect="fadeInRightBig">
                        <div class="left-line">
                            <h4>Ethereum Classic</h4>
                            <h1>Development</h1>
                        </div>
                    </div>
                    <div class="black-text" data-effect="fadeInLeftBig">
                        <div>
                            <h1>Team</h1>
                        </div>
                    </div>
                </div>
                <!-- Header Text - End -->
            </div>
        </div>
    <% } %>
</section>